<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>api 1</title>
</head>
<body style="background-color:rgb(228, 210, 210); display: flex;align-items: center; justify-content:center;flex-direction: column;border-radius:2rem; border: 5px solid rgb(248, 247, 247);">
    <h1>salut les pro</h1>
    <ul>
        <li><a href="/contactez" style="color: brown; 
        font-size:2rem;margin-left: 10rem;font-weight:bolder;">CONTACTEZ</a> </li>
        <li><a href="/services" style="color:blue; 
            font-size:2rem;margin-left: 10rem; margin-top: 2rem; font-weight:bolder;">NOS SERVICES</a> </li>
    </ul>
</body>
</html>